<div class="customer container">
  <div class="customer__panel">
    <h1 class="customer__title">{{ 'customer.register.title' | t | default: 'Create account' }}</h1>

    {%- form 'create_customer', novalidate: 'novalidate' -%}
      {%- if form.errors -%}
        <div class="customer__errors" role="alert">{{ form.errors | default_errors }}</div>
      {%- endif -%}

      <div class="customer__row">
        <div>
          <label class="customer__label" for="first_name">{{ 'customer.register.first_name' | t | default: 'First name' }}</label>
          <input type="text" name="customer[first_name]" id="first_name" class="customer__input" autocomplete="given-name">
        </div>
        <div>
          <label class="customer__label" for="last_name">{{ 'customer.register.last_name' | t | default: 'Last name' }}</label>
          <input type="text" name="customer[last_name]" id="last_name" class="customer__input" autocomplete="family-name">
        </div>
      </div>

      <label class="customer__label" for="register_email">{{ 'customer.register.email' | t | default: 'Email' }}</label>
      <input type="email" name="customer[email]" id="register_email" class="customer__input" autocomplete="email" autocorrect="off" autocapitalize="off" required>

      <label class="customer__label" for="register_password">{{ 'customer.register.password' | t | default: 'Password' }}</label>
      <input type="password" name="customer[password]" id="register_password" class="customer__input" autocomplete="new-password" required>

      <button type="submit" class="btn btn--primary btn--lg customer__submit">{{ 'customer.register.submit' | t | default: 'Create' }}</button>
    {%- endform -%}

    <p class="customer__alt">
      {{ 'customer.register.has_account' | t | default: 'Already have an account?' }}
      <a href="{{ routes.account_login_url }}" class="customer__link">{{ 'customer.register.sign_in' | t | default: 'Sign in' }}</a>
    </p>
  </div>
</div>
