<div class="customer container">
  <div class="customer__panel">
    <h1 class="customer__title">{{ 'customer.reset_password.title' | t | default: 'Reset account password' }}</h1>
    <p class="customer__intro">{{ 'customer.reset_password.subtext' | t | default: 'Enter a new password for your account.' }}</p>

    {%- form 'reset_customer_password' -%}
      {%- if form.errors -%}
        <div class="customer__errors" role="alert">{{ form.errors | default_errors }}</div>
      {%- endif -%}

      <label class="customer__label" for="password">{{ 'customer.reset_password.password' | t | default: 'New password' }}</label>
      <input type="password" name="customer[password]" id="password" class="customer__input" autocomplete="new-password" required>

      <label class="customer__label" for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t | default: 'Confirm password' }}</label>
      <input type="password" name="customer[password_confirmation]" id="password_confirmation" class="customer__input" autocomplete="new-password" required>

      <button type="submit" class="btn btn--primary btn--lg customer__submit">{{ 'customer.reset_password.submit' | t | default: 'Reset password' }}</button>
    {%- endform -%}
  </div>
</div>
